# Virtual environments
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Large datasets
*.db
*.csv
*.zip
*.tar
*.tar.gz
*.npz
*.pth
*.pt
*.h5

# Logs & misc
*.log

# DS/AI unwanted folders
autosence/data/nuplan/
autosence/venv/
data/
datasets/

# Compiled binaries
*.dll
*.pyd
*.so

# Node junk (if any)
node_modules/
